<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="RIS" connectionString="Data Source=.\SQLEXPRESS;database=RIS;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="1000">
				<databases>
					<add name="RIS" connectionStringName="RIS"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<roleManager defaultProvider="MySqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="MySqlRoleProvider" connectionStringName="RIS" type="System.Web.Security.SqlRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=123" cookieless="false" timeout="20" />
	</system.web>
	<appSettings>
		<add key="AudioDirectory" value="/Findings"/>
		<add key="MWLDirectory" value="c:\RIS"/>
		<add key="MWLFile" value="F:\MyProjects\RIS\trunk\RISWebSite\Technologist\mwlitem.xml"/>
		<add key="ImagesDirectory" value="WebViewer/data/"/>
		<add key="IsWeb" value="true"/>
	</appSettings>
</configuration>
