<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="RIS" connectionString="Data Source=.\SQLEXPRESS;Trusted_Connection=yes;database=RIS" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/> 
		<caching>
			<sqlCacheDependency enabled="true" pollTime="1000">
				<databases>
					<add name="RIS" connectionStringName="RIS"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
</assemblies></compilation>
		<roleManager defaultProvider="MySqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="MySqlRoleProvider" connectionStringName="RIS" type="System.Web.Security.SqlRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
<webServices>
<protocols>
  <add name="HttpGet"/>
<add name="HttpPost"/>
</protocols>
</webServices>
	</system.web>
	<appSettings>
		<add key="AudioDirectory" value="/Findings"/>
    <add key="MWLDirectory" value="E:\MyProjects\RIS"/>
    <add key="MWLFile" value="E:\MyProjects\RIS\tags\prod20081025\RISWebSite\Technologist\mwlitem.xml"/>
	</appSettings>
</configuration>
