<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="RIS" connectionString="Data Source=.\SQL2005;database=RIS;Persist Security Info=True;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>
		<add name="RISEntities" connectionString="metadata=res://*/RISDataModel.csdl|res://*/RISDataModel.ssdl|res://*/RISDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=RIS;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="~/SharedPages/Error.aspx">
		</customErrors>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="1000">
				<databases>
					<add name="RIS" connectionStringName="RIS"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies></compilation>
		<roleManager defaultProvider="MySqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="MySqlRoleProvider" connectionStringName="RIS" type="System.Web.Security.SqlRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<appSettings>
		<add key="AudioDirectory" value="/Findings"/>
		<add key="MWLDirectory" value="E:\MyProjects\RIS"/>
		<add key="MWLFile" value="E:\MyProjects\RIS\tags\prod20081025\RISWebSite\Technologist\mwlitem.xml"/>
		<add key="ImagesDirectory" value="E:\"/>
		<add key="IsWeb" value="false"/>
		<add key="ReportPath" value="C:\RIS"/>
    <add key="HTTPPort" value="80"/>
    <add key="IsSSL" value="false"/>
    <add key="SendFax" value="false"/>
    <add key="SendSMS" value="false"/>
	</appSettings>
</configuration>
